<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sc.mapper.OFeedbackMapper">
  <resultMap id="BaseResultMap" type="com.sc.pojo.OFeedback">
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="JOB" jdbcType="VARCHAR" property="job" />
    <result column="EMAIL" jdbcType="VARCHAR" property="email" />
    <result column="PHONE" jdbcType="VARCHAR" property="phone" />
    <result column="COMPANY" jdbcType="VARCHAR" property="company" />
    <result column="ADDRESS" jdbcType="VARCHAR" property="address" />
    <result column="DEAL" jdbcType="CHAR" property="deal" />
    <result column="OPERATOR" jdbcType="INTEGER" property="operator" />
    <result column="DEAL_TIME" jdbcType="DATE" property="dealTime" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, NAME, JOB, EMAIL, PHONE, COMPANY, ADDRESS, DEAL, OPERATOR, DEAL_TIME
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from o_feedback
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from o_feedback
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.sc.pojo.OFeedback">
    insert into o_feedback (ID, NAME, JOB, 
      EMAIL, PHONE, COMPANY, 
      ADDRESS, DEAL, OPERATOR, 
      DEAL_TIME)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{job,jdbcType=VARCHAR}, 
      #{email,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, #{company,jdbcType=VARCHAR}, 
      #{address,jdbcType=VARCHAR}, #{deal,jdbcType=CHAR}, #{operator,jdbcType=INTEGER}, 
      #{dealTime,jdbcType=DATE})
  </insert>
  <insert id="insertSelective" parameterType="com.sc.pojo.OFeedback">
    insert into o_feedback
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="name != null">
        NAME,
      </if>
      <if test="job != null">
        JOB,
      </if>
      <if test="email != null">
        EMAIL,
      </if>
      <if test="phone != null">
        PHONE,
      </if>
      <if test="company != null">
        COMPANY,
      </if>
      <if test="address != null">
        ADDRESS,
      </if>
      <if test="deal != null">
        DEAL,
      </if>
      <if test="operator != null">
        OPERATOR,
      </if>
      <if test="dealTime != null">
        DEAL_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="job != null">
        #{job,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="company != null">
        #{company,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="deal != null">
        #{deal,jdbcType=CHAR},
      </if>
      <if test="operator != null">
        #{operator,jdbcType=INTEGER},
      </if>
      <if test="dealTime != null">
        #{dealTime,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sc.pojo.OFeedback">
    update o_feedback
    <set>
      <if test="name != null">
        NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="job != null">
        JOB = #{job,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        EMAIL = #{email,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        PHONE = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="company != null">
        COMPANY = #{company,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        ADDRESS = #{address,jdbcType=VARCHAR},
      </if>
      <if test="deal != null">
        DEAL = #{deal,jdbcType=CHAR},
      </if>
      <if test="operator != null">
        OPERATOR = #{operator,jdbcType=INTEGER},
      </if>
      <if test="dealTime != null">
        DEAL_TIME = #{dealTime,jdbcType=DATE},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sc.pojo.OFeedback">
    update o_feedback
    set NAME = #{name,jdbcType=VARCHAR},
      JOB = #{job,jdbcType=VARCHAR},
      EMAIL = #{email,jdbcType=VARCHAR},
      PHONE = #{phone,jdbcType=VARCHAR},
      COMPANY = #{company,jdbcType=VARCHAR},
      ADDRESS = #{address,jdbcType=VARCHAR},
      DEAL = #{deal,jdbcType=CHAR},
      OPERATOR = #{operator,jdbcType=INTEGER},
      DEAL_TIME = #{dealTime,jdbcType=DATE}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>