<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sc.mapper.ORoleMapper">
  <resultMap id="BaseResultMap" type="com.sc.pojo.ORole">
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="ROLENAME" jdbcType="VARCHAR" property="rolename" />
    <result column="OVERVIEW" jdbcType="VARCHAR" property="overview" />
    <result column="STATUS" jdbcType="CHAR" property="status" />
    <result column="OPERATOR" jdbcType="INTEGER" property="operator" />
    <result column="CREATETIME" jdbcType="DATE" property="createtime" />
    <collection property="menus"
                column="id"
                ofType="com.sc.pojo.OMenu"
                select="com.sc.mapper.OMenuMapper.queryByRoleId"/>
  </resultMap>
  <sql id="Base_Column_List">
    ID, ROLENAME, OVERVIEW, STATUS, OPERATOR, CREATETIME
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from o_role
    where ID = #{id,jdbcType=INTEGER}
  </select>

  <select id="queryAll" resultMap="BaseResultMap">
    select * from o_role
  </select>
    <select id="show" resultMap="BaseResultMap">
      select * from o_role
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from o_role
    where ID = #{id,jdbcType=INTEGER}
  </delete>
    <delete id="deleteMenuRole">
      delete from  o_role_menu where ROLEID=#{roleid}
    </delete>
    <insert id="insert" parameterType="com.sc.pojo.ORole">
    insert into o_role (ID, ROLENAME, OVERVIEW, 
      STATUS, OPERATOR, CREATETIME
      )
    values (#{id,jdbcType=INTEGER}, #{rolename,jdbcType=VARCHAR}, #{overview,jdbcType=VARCHAR}, 
      #{status,jdbcType=CHAR}, #{operator,jdbcType=INTEGER}, #{createtime,jdbcType=DATE}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.sc.pojo.ORole">
    insert into o_role
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="rolename != null">
        ROLENAME,
      </if>
      <if test="overview != null">
        OVERVIEW,
      </if>
      <if test="status != null">
        STATUS,
      </if>
      <if test="operator != null">
        OPERATOR,
      </if>
      <if test="createtime != null">
        CREATETIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="rolename != null">
        #{rolename,jdbcType=VARCHAR},
      </if>
      <if test="overview != null">
        #{overview,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=CHAR},
      </if>
      <if test="operator != null">
        #{operator,jdbcType=INTEGER},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <!--第一种批量新增(参数1:角色id，参数2：权限id数组)-->
  <insert id="addMenu">
    insert into o_role_menu values
    <foreach collection="menuids" separator="," item="menuids">
      (#{roleid},#{menuids})
    </foreach>
  </insert>
  <insert id="addMenu2">
    insert into o_role_menu
    <foreach collection="menuids" separator=" union " item="menuids" >
      select #{roleid},#{menuids}
    </foreach>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sc.pojo.ORole">
    update o_role
    <set>
      <if test="rolename != null">
        ROLENAME = #{rolename,jdbcType=VARCHAR},
      </if>
      <if test="overview != null">
        OVERVIEW = #{overview,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        STATUS = #{status,jdbcType=CHAR},
      </if>
      <if test="operator != null">
        OPERATOR = #{operator,jdbcType=INTEGER},
      </if>
      <if test="createtime != null">
        CREATETIME = #{createtime,jdbcType=DATE},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sc.pojo.ORole">
    update o_role
    set ROLENAME = #{rolename,jdbcType=VARCHAR},
      OVERVIEW = #{overview,jdbcType=VARCHAR},
      STATUS = #{status,jdbcType=CHAR},
      OPERATOR = #{operator,jdbcType=INTEGER},
      CREATETIME = #{createtime,jdbcType=DATE}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>